* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    padding: 16px 32px;
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: #F5E8DD;
    z-index: 1;
}

.logo {
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
    overflow: hidden;
}

nav span {
    align-items: center;
}

nav li {
    font-size: 18px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000000;
}

nav .logo {
    font-size: 32px;
}


.burger-menu {
    display: none;
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5E8DD;
}

#banner img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider-wrapper {
    position: relative;

}

.slider-wrapper img {
    width: 100%;
    display: block;
}

.indicator1,
.indicator2 {
    position: absolute;
    bottom: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.indicator1 {
    left: 50%;
    transform: translateX(-15px);
    background-color: #ffffff;
}

.indicator2 {
    left: 50%;
    transform: translateX(5px);
    background-color: #ffffff;
}

.indicator-dark {
    background-color: #000000;
}

.slider-wrapper img {
    transition: opacity 1s ease;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 64px;
    gap: 50px;
    background-color: #FFF7F1;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 40%;
}


.article-title {
    font-size: 32px;
    margin-bottom: 15px;
    background-color: antiquewhite;

}

.article-desc {
    text-align: justify;
    font-size: 18px;
}



.article2 {
    margin-top: 20px;
}

aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 30%;
}

aside {
    background-color: #f0f0f0;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

aside h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.cat-wiki-title {
    text-align: center;
}

.cat-wiki-title h2 {
    font-size: 32px;
}

.table-lable {
    font-size: 18px;
    margin-top: 10px;
    padding: 0 10px;
    background-color: #BED1CF;
    width: 100%;
    text-align: left;
}

th,
td {
    padding: 10px;
}

tbody tr {
    margin-top: 10px;
    padding: 0 10px;

}

aside img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
}

aside strong {
    font-weight: bold;
}


#content2 {
    width: 100%;
    padding: 64px;
}

#content2 h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card-wrapper div {
    flex: 30%;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 50px;
}

footer {
    padding: 23px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b0a69e;
}

footer a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    #banner {
        margin-top: 50px;
    }

    .menu-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .nav-links li {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .burger-menu {
        display: block;
        font-size: 24px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    nav ul {
        display: none;
    }

    nav ul.show {
        display: block;
    }

    #content {
        flex: 100%;
    }

    .container {
        gap: 0px;
        padding: 16px 32px;
    }

    aside {
        flex: 100%;
        order: -1;
        margin-bottom: 20px;
    }

    .article-desc {
        font-size: 16px;
    }

}